.TweetModal {
    margin-top: 20vh;
    margin-left: 25vw;
    width: 50%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}


.Tweet {
    text-align: center;
    border-bottom: 1px solid black;
    font-size: larger;
}

.LabelForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.LabelForm > div {
    width: 100%;
}